@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

#container{
  background-color: rgb(173, 198, 219);  
  text-align: center;
  width:60%;
  font-family: Impact;
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: Auto;
  margin-top:auto;
}
 
body{
 background-color: rgb(41, 49, 56);

ol{
text-align: justify;
}
 button{
   float:right;
 }
  

