@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

#container{
  background-color: rgb(143, 186, 221);  
  text-align: center;
  width:60%;
  font-family: Impact;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  border: 2px solid rgb(35, 41, 46);
  box-shadow: 2px 2px 2px 2px inset;
  padding: 10px;
  margin-bottom: Auto;
  margin-top:auto;
}
 
body{
 background-color: rgb(41, 49, 56);
}

ol{
text-align: justify;
}
 button{
   float:right;
   margin-right:80px;
   margin-left: 40px;
 }
  input{
    height:27px;
    width:150px;
    box-shadow:68px  rgb(41, 49, 56);;
  }

 
  button{
    height:35px;
    width:150px;
    background-color:rgb(41, 49, 56);
    color: rgb(143, 186, 221);
    font-size: 15px;
  }
  h1,h2,h3{
    background-color: rgb(143, 186, 221);
    color: black;
    width:300px;    
    margin-left: auto;
    margin-right: auto;
    border-radius:2px;
    border: 1px solid rgb(183, 208, 228);
    box-shadow: 1px 1px 1px 1px inset;

  }
  #footer>p{
    font-size: 15px;
    margin-bottom: 3px;
    margin-top: 25px;
    font-weight:500;
  }